html {
  background: #f2f2f2;
}
.container {
  justify-content: center;
  align-items: center;
}
#container-img, #container-btn {
  width: 100%;
  display: block;
  text-align: center;
}
img, canvas {
  margin: 2% 0.5%;
  display: inline-block;
}
.controller {
  margin: 0 8%;
  width: 25%;
  display: inline-block;
  text-align: center;
}
#upload-img-btn {
  text-align: right;
}
.container-dialog {
  margin: 2% 0;

  div.msg-err {
    color: #f54;
  }
  div.msg-suc {
    color: #4bb543;
  }
}
