
<div class="container">

    <div id="container-img">
        <canvas id="original-image" width="360" height="360"></canvas>
        <canvas id="detected-image" width="360" height="360"></canvas>
    </div>

    <div id="container-btn">
        <div class="controller">
            <input id="file-input" type="file" />
            <button id="upload-img-btn">Upload Image</button>
        </div>
        <div class="controller">
            <button id="detect-img-btn">Detect edges</button>
        </div>
    </div>

    <div class="err-text">
        <div id="err-msg"></div>
    </div>

</div>

