
<div class="container">

    <div id="container-img">
        <img [src]="url" id="original-image" width="512" height="512">
        <canvas id="detected-image" width="512" height="512"></canvas>
    </div>

    <div id="container-btn">
        <div class="controller">
            <input type="file" id="upload-img-btn" (change)="onSelectFile($event)"/>
        </div>
        <div class="controller">
            <input type="button" id="detect-img-btn" (click)="onDetectEdges($event)" value="Detect edges">
        </div>
    </div>

    <div class="container-dialog">
        <div id="msg-err"></div>
        <div id="msg-suc"></div>
    </div>

</div>

